#faq-page .general-header {
    background-image: url("/assets/images/bg/optimized/Mood-RainbowSouthCoast-JR1-3566-edit-2560.jpg");
    background-image: image-set(
        url("/assets/images/bg/optimized/Mood-RainbowSouthCoast-JR1-3566-edit-2560.avif") type("image/avif"),
        url("/assets/images/bg/optimized/Mood-RainbowSouthCoast-JR1-3566-edit-2560.webp") type("image/webp"),
        url("/assets/images/bg/optimized/Mood-RainbowSouthCoast-JR1-3566-edit-2560.jpg") type("image/jpeg")
    );
}

#faq-header {
    display    : flex;
    align-items: center;
    position   : relative;
    gap        : 12px;
}

#faq-header span {
    font-weight: 700;
    font-size  : 13px;
    min-width  : max-content;
}

#faq-header div {
    width     : 100%;
    height    : 1px;
    background: #ebebeb;
}
